/*############################################## homepage stuff ##############################################*/
/*########################################################################################################*/
.container-child {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    margin: 15%;
    padding: auto;

}

.item-child {

    height: 80%;
    margin: auto;
    width: 120%;

}

.au-button {
    background-color: var(--bgcd);
    border: none;
    color: var(--fo);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 12px;
}




/*  WAVE_CONTENT STUFF  */

.wave {
    fill: var(--bgcd)
}

.card-img {
    display: block;
    width: 100%;
    height: 100%;
}

.card-area {
    width: 100%;
    background-color: var(--bgcd);

}

.card-area-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.card-area-wrap .card-item {
    width: 25%;
    padding: 10px;



}

.card-area-wrap .card-inner {
    background: var(--bgc);
    border-radius: 5px;
}


.card-area-wrap .card-top {
    width: 100%;
    min-height: 225px;
    padding: 10px;
    padding-bottom: 0;
}

.card-area-wrap .card-bottom {
    padding: 15px;
}





.card-area-wrap .card-bottom .card-info {

    font-size: 18px;
    margin-bottom: 5px;
}



@media (max-width: 1024px) {
    .card-area-wrap .card-item {
        width: 33.3%;
    }
}

@media (max-width: 768px) {
    .card-area-wrap .card-item {
        width: 50%;
    }
}

@media (max-width: 528px) {
    .card-area-wrap .card-top {
        height: auto;
    }

    .card-area-wrap .card-item {
        width: 100%;
    }
}

.carousel .carousel-item {
    width: 340px !important;
    padding: 20px;
}

.card {
    border-radius: 8px;
    position: relative !important;
    right: 20px !important;
}

/*  RECOMMENDED STUFF  */

.recommended-title {
    text-align: center;
    margin: 5%;
    text-transform: uppercase;
}

.re-card-img {
    display: block;
    width: 100%;
    height: 100%;
    text-size-adjust: uppercase;
}

.re-card-area {
    width: 100%;
    background-color: var(--bgc);
}

.re-card-area-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.re-card-area-wrap .re-card-item {
    width: 25%;
    padding: 10px;


}

.re-card-area-wrap .re-card-inner {
    background: var(--bgcd);
    border-radius: 5px;
}


.re-card-area-wrap .re-card-top {
    width: 100%;
    min-height: 225px;
    padding: 10px;
    padding-bottom: 0;
}

.re-card-area-wrap .re-card-bottom {
    padding: 15px;
}





.re-card-area-wrap .re-card-bottom .re-card-info {

    font-size: 18px;
    margin-bottom: 5px;
}



@media (max-width: 1024px) {
    .re-card-area-wrap .re-card-item {
        width: 33.3%;
    }
}

@media (max-width: 768px) {
    .re-card-area-wrap .re-card-item {
        width: 50%;
    }
}

@media (max-width: 528px) {
    .re-card-area-wrap .re-card-top {
        height: auto;
    }

    .re-card-area-wrap .re-card-item {
        width: 100%;
    }
}

.newsletter-title {
    text-transform: uppercase;

}

.newsletter-parent {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    justify-content: center;


}

.newsletter-child {
    display: flex;
    justify-content: center;
    height: 80%;
    margin: 2%;
    width: 120%;
    height: 40%;

}

.reg-button {
    background-color: var(--bgcd);
    border: none;
    color: var(--fo);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 12px;

}

.reg-input {
    height: 60%;
    margin-right: 2%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0%;
    width: 120%;
    border-radius: 8px;
    border-color: var(--bgcd);
    border-style: solid;
}