/*############################################## basic stuff ##############################################*/
/*#########################################################################################################*/

@font-face {
    font-family: H4ck3r;
    src: url(../fonts/Hacker.ttf);
}

body{
    margin: 0;
    padding: 0;
    font-family: var(--fo);
    text-decoration: none;
    color: var(--tc);
    background-color: var(--bgc);
}

a{
    color: var(--tc);
}

a:hover{
    color: var(--tc);
    text-decoration: none;
}

footer{
    width: 100%;
    position: absolute;
    background-color: var(--bgcd);
}

button:focus{
    outline: none;
}

input:focus{
    outline: none;
}

#page-container {
    position: relative;
    min-height: 100vh;
}


.redtext{
    color: red;
}
.greentext{
    color: rgb(0, 199, 0);
}

.clean-button{
    border: none;
}

.normal-colors{
    color: var(--tc);
    background-color: var(--bgcd);
}

.left{
    left:0;
}

.right{
    right:0;
}

.height100{
    height: 100%;
}

.text-align-center{
    text-align: center;
}

.relative{
    position: relative;
}

.underline{
    text-decoration: underline;
}




@media (max-width: 650px){
    .hiddenformobile {
        display: none!important;
    }
}
@media (min-width: 650px){
    .hiddenfordesktop {
        display: none!important;
    }
}

@media (width: 650px){
    .hiddenformobile {
        display: none!important;
    }
    .hiddenfordesktop {
        display: flex!important;
    }
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { -webkit-appearance:none;; }

input {
    border:none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -ms-appearance: none;
}

select{
    outline: none;
    color: var(--tc);
    background-color: var(--bgcd);
    border: 0.1rem solid var(--tc);
}



::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background: var(--tc);
}
::-webkit-scrollbar-track {
  width: 5px;
  background: var(--bgcd);
  
}

/*############################################## flex stuff ##############################################*/
/*########################################################################################################*/

.parent{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

.flex{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-column{
    flex-direction: column;
}

.flex-space-between{
    justify-content: space-between;
}

/*#################### navbar flex stuff ####################*/
/*###########################################################*/
.navbar-desktop-child-logo{
    width: auto;
    padding: 0.75rem;
}
.navbar-desktop-flex-column{
    width: 50%;
    flex-direction: column;
}
.navbar-desktop-child-search{
    width: 100%;
    padding: 0.75rem;
    padding-bottom: 0;
    position: relative;
}
.navbar-desktop-child-links{
    width: 100%;
    padding: 0.75rem;
}
.navbar-desktop-child-other{
    width: 15%;
    padding: 1rem;
    padding-bottom: 0;
}
.navbar-spacebetween{
    justify-content: space-between;
}
.navbar-mobile-child-left{
    width: 15%;
    padding: 0.9rem;
}
.navbar-mobile-child-logo{
    width: 50%;
}
.navbar-mobile-child-right{
    width: 20%;
}

.navbar-dropdown-parent{
    display: flex;
    width: 80%;
    margin-top: 0.75rem;
    flex-wrap: none;
    flex-direction: row;
    background-color: var(--bgcd);
}

.navbar-dropdown-child{
    width: auto;
    margin: 1rem;
    margin-top: 0.5rem;
    /*dropdown styling*/
}
.navbar-dropdown-mobile-parent{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100vw;
    background-color: var(--bgcd);
}
.navbar-dropdown-mobile-search{
    width: 100vw;
}
.navbar-dropdown-mobile-links{
    width: 100vw;
    padding: 0.75rem;
}

/*############################################## navbar stuff ##############################################*/
/*##########################################################################################################*/

.navbar-custom{
    margin: 0;
    padding: 0;
    background-color: var(--bgcd);
}

.theme-button{
    border: none;
    padding: 0.5rem;
    width: 100%;
}

.theme-dark{
    font-family: 'Cabin', sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(40, 40, 40);
}
.theme-light{
    font-family: 'Cabin', sans-serif;
    color: rgb(0, 0, 0);
    background-color: rgb(233, 233, 233);
}
.theme-hacker{
    font-family: H4ck3r;
    color: rgb(41, 194, 21);
    background-color: rgb(0, 0, 0);
}

.navbar-desktop-input {
    width: calc(100% - 2.5rem);
    padding: 0.3rem;
    border: none;
}

.navbar-mobile-input {
    width: calc(100vw - 4rem);
    padding: 0.3rem;
    border: none;
}

.navbar-mobile-right-buttons{
    position: absolute;
    top: 30%;
    right: 25%;
}

.navbar-mobile-child-right-buttons > button:nth-child(1n){
    padding-right: 5vh;
}

.navbar-mobile-child-right-buttons > button:nth-child(2n){
    padding-right: 1.5vh;
}

.navbar-search-button{
    padding: 0.3rem;
    width: 2.5rem;
    position: absolute;
    border: none;
}

.navbar-desktop-logo{
    width: auto;
    max-width: 100%;
    max-height: 4rem;
    padding-top: 0.5rem;
}

.navbar-mobile-logo{
    display: block;
    margin: 0.5rem;
    height: auto;
    max-height: 4rem;
    margin-left: auto;
    margin-right: auto;
}

.navbar-desktop-dropdown-button{
    border: none;
    color: var(--tc);
    background-color: var(--bgcd);
    
}

.navbar-mobile-dropdown-button{
    position: absolute;
    top: 25%;
    left: 25%;
    border: none;
    background-color: var(--bgcd);
    color: var(--tc);
}

.dropdown{
    z-index: 100;
}

.dropdown_menu{
    position: absolute;
    top: 100%;
    width: auto;
    z-index: -1;
}

.dropdown_menu_mobile{
    position: absolute;
    padding-top: 0.9rem;
    top: 100%;
    left: -14.5px;
    z-index: -1;
}

.dropdown_menu > .navbar-dropdown-parent{
    width: auto;
}

.dropdown_menu--animated{
    display: none;
}

.dropdown:hover > .dropdown_menu--animated{
    display: block;
}

.navbar-dropdown_menu{
    animation: growDown 100ms ease-in-out forwards;
    transform-origin: top center;
}

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    100% {
        transform: scaleY(1)
    }
}

.dropdown:hover > .clean-button{
    text-decoration: underline;
}

/*############################################## product stuff #############################################*/
/*##########################################################################################################*/

.product_child_image{
    width: 30%;
    min-width: 20rem;
    padding-top: 4rem;
    height: calc(100vh - 20%);
}
.product_child_des{
    width: 30%;
    padding: 1rem;
}
.product_child_des > *{
    margin: 1rem;
}
.product_child_designs{
    width: 30%;
    min-width: 20rem;
    max-height: 80vh;
    margin-top: 0.5rem;
    overflow-y: scroll;
    flex-wrap: wrap;
}
.product_image_img{
    height: auto;
    width: 100%;
}
.product_design_image_img{
    position: absolute;
    width: 25%;
    height: auto;
    left: 35%;
    top: calc(30% + 2.8vh);
}
.product_designs{
    display: flex;
    flex-direction: row;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0.5rem;
    position: relative;
    width: auto;
    background-color: var(--bgcd);
}
.product_designs_img{
    max-height: 4.5rem;
    width: auto;
}
.product_designs_des{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 55%;
    word-break: break-all;
    padding-left: 0.5rem;
}
.product_designs_des > h4 {
    font-size: 1.2rem;
}
.product_designs_des > h3 {
    font-size: 0.8rem;
}
.product_designs_btn{
    position:absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    border: 0.1rem solid var(--tc);
}
.product_addcart_btn{
    border: 0.1rem solid var(--tc);
}

@media (max-width: 650px){
    .product_child_image{
        width: 80%;
    }
    .product_child_des{
        width: 100%;
    }
    .product_designs_des{
        max-width: 45% !important;
    }
    .product_designs{
        width: 80% !important;
    }
}
@media (max-width: 925px){
    .product_child_designs{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        max-height: 30rem;
    }
    .product_designs{
        width: calc(100% / 2.5);
        min-width: 15rem;
    }
    
    .product_designs_des{
        max-width: 45%;
    }
}

/*############################################## cart stuff ################################################*/
/*##########################################################################################################*/

.cart_product_child{
    display: flex;
    background-color: red;
    width: 80%;
    margin: auto;
    height: 12rem;
    justify-content: space-between;
}

.cart_image_img{
    height: 12rem;
}

.cart_design_image_img{
    height: 4rem;
    left: 38%;
    top: 28%;
    position: absolute;
}