/*############################################## basic stuff ##############################################*/
/*#########################################################################################################*/

body{
    margin: 0;
    padding: 0;
    font-family: var(--fo);
    text-decoration: none;
    color: var(--tc);
    background-color: var(--bgc);
}

@font-face {
    font-family: H4ck3r;
    src: url(../fonts/Hacker.ttf);
}

a{
    color: var(--tc);
}

a:hover{
    color: var(--tc);
    text-decoration: none;
}

footer{
    width: 100%;
    bottom: 0;
    position: absolute;
    background-color: var(--bgcd);
}

button:focus{
    outline: none;
}

input:focus{
    outline: none;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
   padding-bottom: 2rem; 
}

.clean-button{
    border: none;
}

.normal-colors{
    color: var(--tc);
    background-color: var(--bgcd);
}

.left{
    left:0;
}

.right{
    right:0;
}

.height100{
    height: 100%;
}

.text-align-center{
    text-align: center;
}

.relative{
    position: relative;
}





@media (max-width: 650px){
    .hiddenformobile {
        display: none!important;
    }
}
@media (min-width: 650px){
    .hiddenfordesktop {
        display: none!important;
    }
}

@media (width: 650px){
    .hiddenformobile {
        display: none!important;
    }
    .hiddenfordesktop {
        display: flex!important;
    }
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { -webkit-appearance:none;; }

::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background: var(--bgcd);
}
::-webkit-scrollbar-track {
  background: var(--bgc);
  border-left: 4px solid var(--bgcd);
}

/*############################################## flex stuff ##############################################*/
/*########################################################################################################*/

.parent{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

.flex{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

/*#################### navbar flex stuff ####################*/
/*###########################################################*/
.navbar-desktop-child-logo{
    width: auto;
    padding: 0.75rem;
}
.navbar-desktop-flex-column{
    width: 50%;
    flex-direction: column;
}
.navbar-desktop-child-search{
    width: 100%;
    padding: 0.75rem;
    padding-bottom: 0;
    position: relative;
}
.navbar-desktop-child-links{
    width: 100%;
    padding: 0.75rem;
}
.navbar-desktop-child-other{
    width: 15%;
    padding: 1rem;
    padding-bottom: 0;
}
.navbar-spacebetween{
    justify-content: space-between;
}
.navbar-mobile-child-left{
    width: 15%;
    padding: 0.9rem;
}
.navbar-mobile-child-logo{
    width: 50%;
}
.navbar-mobile-child-right{
    width: 20%;
}

.navbar-dropdown-parent{
    display: flex;
    width: 80%;
    margin-top: 0.75rem;
    flex-wrap: none;
    flex-direction: row;
    background-color: var(--bgcd);
}

.navbar-dropdown-child{
    width: auto;
    margin: 1rem;
    /*dropdown styling*/
}
.navbar-dropdown-mobile-parent{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100vw;
    background-color: var(--bgcd);
}
.navbar-dropdown-mobile-search{
    width: 100vw;
}
.navbar-dropdown-mobile-links{
    width: 100vw;
    padding: 0.75rem;
}

/*############################################## navbar stuff ##############################################*/
/*##########################################################################################################*/

.navbar-custom{
    margin: 0;
    padding: 0;
    background-color: var(--bgcd);
}

.theme-button{
    border: none;
    padding: 0.5rem;
    width: 100%;
}

.theme-dark{
    font-family: 'Cabin', sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(40, 40, 40);
}
.theme-light{
    font-family: 'Cabin', sans-serif;
    color: rgb(0, 0, 0);
    background-color: rgb(233, 233, 233);
}
.theme-hacker{
    font-family: H4ck3r;
    color: rgb(41, 194, 21);
    background-color: rgb(0, 0, 0);
}

.navbar-desktop-input {
    width: calc(100% - 2.5rem);
    padding: 0.3rem;
    border: none;
}

.navbar-mobile-input {
    width: calc(100vw - 4rem);
    padding: 0.3rem;
    border: none;
}

.navbar-mobile-right-buttons{
    position: absolute;
    top: 30%;
    right: 25%;
}

.navbar-mobile-child-right-buttons > button:nth-child(1n){
    padding-right: 5vh;
}

.navbar-mobile-child-right-buttons > button:nth-child(2n){
    padding-right: 1.5vh;
}

.navbar-search-button{
    padding: 0.3rem;
    width: 2.5rem;
    position: absolute;
    border: none;
}

.navbar-desktop-logo{
    width: auto;
    max-width: 100%;
    max-height: 4rem;
    padding-top: 0.5rem;
}

.navbar-mobile-logo{
    display: block;
    margin: 0.5rem;
    height: auto;
    max-height: 4rem;
    margin-left: auto;
    margin-right: auto;
}

.navbar-desktop-dropdown-button{
    border: none;
    color: var(--tc);
    background-color: var(--bgcd);
    
}

.navbar-mobile-dropdown-button{
    position: absolute;
    top: 25%;
    left: 25%;
    border: none;
    background-color: var(--bgcd);
    color: var(--tc);
}

.dropdown{
    z-index: 100;
}

.dropdown_menu{
    position: absolute;
    top: 100%;
    width: auto;
    z-index: -1;
}

.dropdown_menu_mobile{
    position: absolute;
    padding-top: 0.9rem;
    top: 100%;
    left: -14.5px;
    z-index: -1;
}

.dropdown_menu > .navbar-dropdown-parent{
    width: auto;
}

.dropdown_menu--animated{
    display: none;
}

.dropdown:hover > .dropdown_menu--animated{
    display: block;
}

.navbar-dropdown_menu{
    animation: growDown 100ms ease-in-out forwards;
    transform-origin: top center;
}

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    100% {
        transform: scaleY(1)
    }
}

.dropdown:hover > .clean-button{
    text-decoration: underline;
}